body {
    background-image: url("Bern.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: loading;
    animation-duration: 1s;
}

@keyframes loading {
    from {
        opacity: 0.25;
    }
    to {
        opacity: 1;
    }
}

.dropdown-item:active {
    background: #e2e2e2;
    color: #16181b;
}

.navbar {
    z-index: 1000px;
}

.main {
    animation-name: fromBottom;
    animation-duration: 0.75s;
}

@keyframes fromBottom {
    from {
        margin-top: 4rem;
    }
    to {
        margin-top: 3rem;
    }
}