body {
    background-image: url("Bern.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation-name: loading;
    animation-duration: 1s;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 1s;
}

@keyframes loading {
    from {
        opacity: 0.25;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes loading {
    from {
        opacity: 0.25;
    }
    to {
        opacity: 1;
    }
}

.dropdown-item:active {
    background: #dc3545;
    color: #f8f9fa;
}

.dropdown-item.active {
    background: #dc3545;
}

.navbar {
    z-index: 1000px;
}

.main {
    animation-name: fromBottom;
    animation-duration: 1s;
    -webkit-animation-name: fromBottom;
    -webkit-animation-duration: 1s;
}

@keyframes fromBottom {
    from {
        margin-top: 4rem;
    }
    to {
        margin-top: 3rem;
    }
}

@-webkit-keyframes fromBottom {
    from {
        margin-top: 4rem;
    }
    to {
        margin-top: 3rem;
    }
}

.display-6 {
    font-size: 1.5rem;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #dc3545;
}

::-webkit-scrollbar-thumb:hover {
    background: #c82333;
}

::-webkit-scrollbar-thumb:active {
    background: #bd2130;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::selection {
    background: #dc354585;
    color: #f8f9fa;
}